.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  /*  */
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 550px;
  height: 250px;
  border-radius: 12px;
  background-color: lightskyblue;
  background-color: rgba(35, 35, 70, 0.5);
  
  /* background-color: transparent; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer {
  display: inline-block;
  text-align: center;
  
}
.title-share{
  display: inline-block;
  text-align: center;
  color : lightgray; 
 
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 1px;
  cursor: pointer;
  
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
 
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modalContainer .footer button {
  width: 100px;
  height: 35px;
  margin: 35px;
  border: none;
  background-color: cornflowerblue;
  color : lightgray; 
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  
}

#cancelBtn {
   /* background-color: crimson; */
  /* background-color: #E30B5C; */
   background-color: rgba(255, 0, 0, 0.5);  

  
}
.address {
  display: block;
  margin:25px;
  height: 50px;
  width: 300px;
  text-align: center;
 
}

input[type="text"]:focus {
  background-color: lightblue;
}

#selectNumber option.address {
  background-color: lightgrey;
  justify-content: center;
  align-items: center;
  /* transform: scale(1.2); */
}
select {
  /* transform: scale(70%);  */
  /* background-color: lightskyblue;  */
  
  height:20px;
  width:350px;
  /* align-items: center;
  justify-content: center; */
}
select#selectNumber {
  width: 100%; /* Adjust the width as needed */
  margin-top: 10px; /* Add margin for spacing */
  text-align: center; /* Align text horizontally */
}