/* Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.share{
    /* color: ; */
    transition: background-color 0.3s ease;
    transition: 0.4s ease;
 border-radius: 5px;
  color:black;
  margin: 25px;
  height: 40px;
  width: 100px;
/* position:fixed; */
position: relative;
cursor: pointer;

}
/* Container */
.App {
    position: relative;
    z-index: 20;
}

/* Particles */
.particles {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Content */
.content {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    padding: 50px;
}


@keyframes slideInTitle {
    from {
        transform: translateZ(400%);
        scale: 1000%;
        opacity: 0;
    }
    to {
        transform: translateZ(0);
        scale: 100%;
        opacity: 1;
    }
}

/* Title */
.title {
    animation: slideInTitle 1.5s ease forwards;
    font-size: 3rem;
    margin-bottom: 30px;
    /* font-size: 102px; */
    background: -webkit-linear-gradient(rgba(70,92,252,1), rgba(63,251,97,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: rgb(63,94,251);
    color: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
}

/* Upload Container */
.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Upload Button */
.upload-button {
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #0056b3;
}

/* File Input */
.file-input {
    display: none;
}

/* File Name */
.file-name {
    font-size: 1.2rem;
}

/* Submit Button */
.submit-button {
    padding: 15px 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: 0.4s ease;
}

.upload-button {
    padding: 15px 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: 0.4s ease;
}

.submit-button:hover {
    transform: scale(1.05);
    transition: 0.4s ease;
}

.upload-button:hover {
    transform: scale(1.05);
    transition: 0.4s ease;
}
